.btn {
  display: block;
  padding: 2rem 5rem;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 4rem;
  margin-right: 2rem;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-cyan {
  background-color: $color-p-cyan;
}

.btn-cyan:hover {
  background-color: hsla(171, 66%, 44%, 0.8);
}

.btn-blue {
  background-color: $color-p-blue;
}

.btn-blue:hover {
  background-color: hsla(233, 100%, 69%, 0.8);
}

@media only screen and (max-width: 480px) {
  .btn-cyan {
    margin-bottom: 1.5rem;
  }
}
