.heading-primary {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: $color-dgray-blue;
}

.paragraph-primary {
  font-size: 2.3rem;
  width: 65%;
  text-align: center;
  color: $color-gray-blue;
}

.heading-secondary {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: $color-dgray-blue;
}

.paragraph-secondary {
  font-size: 2.1rem;
  width: 50%;
  text-align: center;
  color: $color-gray-blue;
}

.heading-tertiary {
  font-weight: 600;
  font-size: 2.6rem;
  margin-bottom: 0.8rem;
  color: $color-dgray-blue;
}

.paragraph-tertiary {
  font-size: 2rem;
  width: 70%;
  text-align: center;
  color: $color-gray-blue;
  text-align: left;
}
